<html>
    <head>
        <title>Craftsman's Passion</title>
    </head>
    <body>
        <div class="ad">
            
            <div class="container">
                <p>
                    <strong>Software Architecture Essentails</strong> training is coming soon. Get knowledge and skills you need to craft serious apps properly. <a  ng-click="scrollAndEmphasize('#javaarchitecture')">More »</a>
                </p>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <span class="navbar-toggle icon icon-hamburger-white" data-toggle="collapse" data-target="#collapse"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                    </div>
                    <div class="eight columns toggle-jump main-nav collapse navbar-collapse collapse" id="collapse">
                        <ul class="nav right">
                            <li><a ng-click="scroll(0)" class="gray">Home</a></li><li><a ng-click="scroll('.services')">Services</a></li><li><a ng-click="scroll('.team')">Team</a></li><li><a ng-click="scroll('.get-in-touch')">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="six columns end">
                        <div class="header-content">
                            <h1 class="hello">
                                Hello.
                            </h1>
                            <p class="subheading">
                                We're <strong>Craftsman's Passion</strong>. We believe that your software has a chance to be amazing and it’s time to act. We're responding to mainstream software industry with a knocking dose of professionalism &amp; care.
                            </p>
                        </div><a class="btn btn-lg btn-success marketing" ng-click="scroll('.why')" role="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container why">
            <div class="row featurette">
                <div class="col-md-12">
                    <h1 class="featurette-heading">
                        Why Craftsman's Passion?
                    </h1>
                    <p class="lead">
                        We’re a group of professional software craftsmen that <strong>gets things done</strong>, no fluff. We don't have analysts, testers, project managers nor simply programmers. Our people can create <strong>outstanding software</strong> from beginning to the end. We have passion for it. We’re open and transparent to you — when we see something that sucks, we’re telling you immediately. We value simplicity and spend time on making things simple. We do not cut corners even if someone wants us to — we stand behind our work that is of <strong>top-notch quality</strong>. In fact, we’re not for everyone. We’re for those who seek to be step ahead.
                    </p>
                </div>
            </div>
        </div>
        <div class="darken">
            <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/brain.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We train &amp; develop. <span class="text-muted">Learn from experts.</span>
                        </h3>
                        <p>
                            Skilled people, sterling team play and a disciplined approach to software delivery are the keys to building great systems. We assist in building performant teams by organising trainings touching both technology and progressive approaches to software development. Join one of our open trainings or let us organise <strong>exclusive event</strong> for your process.
                        </p>
                    </div>
                </div>
                <div class="trainings">

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                     <div class="training">
                                <h4>
                                    Upcoming Event ( <a target="_blank" href="https://docs.google.com/a/craftsmans.lv/forms/d/1VcTiu6p9PQJJM_nz0CT3EYQDOcw8qL0ABAv-lCo2_88/viewform">Register</a> )
                                </h4> 
<p>
                                    <span class="block"><strong>Date:</strong> 11th of Match, 2015</span>
                                    <span class="block"><strong>Duration:</strong> 1 day, 9:00 - 17:00</span>
                                    <span class="block"><strong>Location:</strong> Riga</span>
                                    <span class="block"><strong>Fee:</strong> €380* excluding VAT</span>
</p>
                            <div>
                                <h3 class="title">
                                    Software Architecture Essentials
                                </h3>
                            </div>
                            <div id="javaarchitecture">
                                <p>
                                

                                

In the age of agile software development and cross-functional teams, everyone is an architect. Software architecture is not about big up-front design with UMLs and circles on the whiteboard - it's about practices and techniques you have to follow in order to keep design clean under a rain of changing requirements, things that are extremely important for fighting design entropy. As a professional developer you should know how to cope with evolutionary design and avoid "code &amp; fix" insanity. Spread your knowlege beyond coding — learn how to lead the way and do "just enough" software architecture by youself. Define, ensure and articulate software architeture for applications in your team, maintain technical vision and keep balance with agility.
                                    </p>
                                 <ul>
                                        
<li> Learn what does it mean to be an architect and why the role is so important</li>
<li> Learn how to connect code with architecture</li>
<li> Learn why layered architecture usually suck and what to do with it  </li>
<li> Apply modern approaches to modularity, platform development and extensibility </li>
<li> Distill domain knowledge into evolving model using DDD </li>
<li> Benefit from modern architectural approaches such as micro-services, CQRS, Event Sourcing, REST and many others</li>
<li> Learn essential software architecture patterns</li>
<li> Learn how to build resilient and failure-embracing  systems</li>
<li> Learn how to choose the right software architecture and equilize fancyness with pragmatism</li>
<li> Learn how to incorporate software architecture and design efforts to your daily work         </li>
                                    </ul> 
                                    <p>
                                        ... and much more.
                                    </p>
                                <h4>
                                    Why should I apply?
                                </h4>
                                <p>
"Software Architect" places in the top ten of most annual surveys of best jobs, yet no clear path exists from Developer to Architect and there is still huge lack of professionals in this area. This course will equip you with fundamental knowledge that is required for such transition and give you directions for independent development.
                                </p>                                    
                                <h4>
                                    How it's gonna look like?
                                </h4>
                                <p>
                                    Together we'll dive deeply into essential software architecture techniques. You'll discover modern architectural patterns, paradigms and tools, understand why there is no conflict between agile and architecture. 
                                  Optionally you will be sent a practical homework assignment with detailed solution feedback upon completion.
                                </p>
                                <h4>
                                    How long it's gonna take?
                                </h4>
                                <p>
                                    1 day.
                                </p>
                                <h4>
                                    Am I eligible?
                                </h4>
                                <p>
                                    Yes if you're serious developer interested in expanding your knowledge beyond coding and regular development tasks.
                                </p>
                                <h4>
                                    Trainer
                                </h4>

                                <p>
                                    <a class="trainer" ng-click="scroll('.team')">Eduards Sizovs</a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>  


            </div>
           <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/macbook.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We build software. <span class="text-muted">Make your idea real.</span>
                        </h3>
                        <p>
                            Yes, we share the same feeling as you do — it's pity to see how nowaday's software development looks like. Remember weeks spent on writing specifications, unfulfilled expectations, delays, poor quality, huge development and maintenance costs, arguing with stubborn developers that don't get your ideas right. Step back, we can't fix mainstream because it's fundamentally broken. "Agile" doesnt't help much, as it's applied on top of the broken model. Such phenomenon reminds us putting lipstick on a pig. That's why we offer <strong>fresh and opinionated view on software development</strong>, leaving mainstream behind. We eliminate artificial walls between business &amp; product-oriented IT experts which leads to close and creative collaboration. In this way, your product gains the best from both worlds. Add transparency, excellent quality, short feedback cycles and some fun to the soup and you'll have the best software development journey ever.
                        </p>
                    </div>
                </div>
            </div>

            <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/rocket.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We bootstrap projects. <span class="text-muted">Drive the right way.</span>
                        </h3>
                        <p>
                            Chosen architecture, technological stack, methodologies and team determines sustainable evolution of your project. We prepare stable foundation you can continue building on top of — be it architecture, best practices or testing process. Besides bootstrapping new stuff, we’re ready to come for rescue when your existing software got derailed. We put it back on rails and eliminate the root cause of incident. Enjoy your trip!
                        </p>
                    </div>
                </div>
            </div>


            <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/umbrella.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We protect projects. <span class="text-muted">Drive safe.</span>
                        </h3>
                        <p>
                            Software development usually reminds the boiling frog story. We work side by side with you, watch your back and protect your project from getting boiled. It's our duty to reveal and prevent problems as early as possible and make sure your project is done in a timely, professional manner. It's like having an insurance. But unlike insurance that mitigate failures, we prevent them from happening.
                        </p>
                    </div>
                </div>
            </div>



            <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/escalator.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We advise. <span class="text-muted">Achieve your goal.</span>
                        </h3>
                        <p>
                            Over the years of being part of great projects, as well as weak ones, we learned what makes the difference. We provide consultancy services to find the most effective way for achieving your goals. Together we can recognise what is the right thing to do and how to get it right.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    <div class="expertise">
            <div class="container">
            <div class="row featurette">
                <div class="col-md-12">
                    <h1 class="featurette-heading no-margin-bottom">
                        Expertise
                    </h1>
                </div>
            </div>                
                <div class="row featurette">
                    <div class="col-md-12">
                        <span class="tag label label-warning">Java</span> 
                        <span class="tag label label-info">Code &amp; Architecture Review</span> 
                        <span class="tag label label-danger">Web Apps</span> 
                        <span class="tag label label-danger">Mobile Apps</span> 
                        <span class="tag label label-danger">Enterprise Apps</span> 
                        <span class="tag label label-danger">Modular Platforms</span> 
                        <span class="tag label label-info">Hypermedia APIs</span> 
                        <span class="tag label label-primary">System Integration</span> 
                        <span class="tag label label-warning">Software Craftsmanship</span> 
                        <span class="tag label label-primary">Domain-Driven Design</span>                         
                        <span class="tag label label-primary">Domain-Specific Languages</span>                         
                        <span class="tag label label-info">Testing Automation</span> 
                        <span class="tag label label-info">Quality Control Automation</span> 
                        <span class="tag label label-danger">Configuration Management</span> 
                        <span class="tag label label-danger">Infrastructure Provisioning</span> 
                        <span class="tag label label-primary">IT Development</span> 
                        <span class="tag label label-primary">Product Development</span>
                        <span class="tag label label-primary">Project Leadership</span> 
                        <span class="tag label label-primary">Team Leadership</span> 
                        <span class="tag label label-warning">Agile Methodologies</span> 
                        <span class="tag label label-warning">Agile Coaching</span> 
                        <span class="tag label label-warning">Continuous Delivery</span> 
                        <span class="tag label label-warning">Executable Specifications</span> 
                        <span class="tag label label-warning">Scrum</span> 
                        <span class="tag label label-warning">Kanban</span> 
                    </div>
                </div>
            </div>
        </div>



        <div class="container team">
            <div class="row featurette">
                <div class="col-md-12">
                    <h1 class="featurette-heading no-margin-bottom">
                        Meet the team
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 lead">
                We are small and there are good reasons for that — when others solve problems with extra capacity, we solve problems with <strong>extra thinking</strong>. We are connected with a number experienced consultants around the globe who are ready to bring more human power when needed.
                </div>
            </div>            
            <div class="row featurette">
                <div class="col-md-3">
                    <img src="images/eduardsi.png" width="200px">
                    <p>
                        <strong>Eduards Sizovs | Founder, Consultant</strong>
                    </p>
                    <p>
                        <a href="//www.linkedin.com/in/eduardsi" target="_blank"><img src="images/linkedin.png" class="social"></a> <a href="//twitter.com/eduardsi" target="_blank"><img src="images/twitter.png" class="social"></a>
                    </p>
                </div>
                <div class="col-md-9">
                    <p class="about">
                        Eduards is software craftsman passionate about every aspect of software development. During his IT journey towards mastery he’s been walking in programmer's, architect's, technical leader's and IT manager’s shoes, attacking the most pressing issues of huge enterprises and cozy start-ups. Eduards strongly believes that mix of right attitude, mastery and vision can make software industry flourish. Eduards actively contributes to open source projects, speaks on conferences and consults various teams around the world on technical and organisational aspects of software development.

                    </p>
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-3">
                    <img src="images/andrejg.png" width="200px">
                    <p>
                        <strong>Andrejs Grave | Partner, Consultant</strong>
                    </p>
                    <p>
                        <a href="//www.linkedin.com/in/andreygrave" target="_blank"><img src="images/linkedin.png" class="social"></a> <a href="//twitter.com/andreygrave" target="_blank"><img src="images/twitter.png" class="social"></a>
                    </p>
                </div>
                <div class="col-md-9">
                    <p class="about">
                        Andrey is passionate software developer whose professional career has been a mixture of different positions. Every position in his career gave him unique experience and better understanding of software development process - its nuts and bolts. Andrey enjoys learning and loves creating things - are these physical things or software. He believes that software development is magic of our time because as a software developer you can create anything from nothing. That's why from time to time he loves participating in Garage48 and similar events.
                    </p>
                </div>
            </div>     


            <div class="row featurette">
                <div class="col-md-3">
                    <img src="images/allab.png" width="200px">
                    <p>
                        <strong>Alla Babkina | Partner, Consultant</strong>
                    </p>
                    <p>
                        <a href="//www.linkedin.com/in/allababkina" target="_blank"><img src="images/linkedin.png" class="social"></a> <a href="//twitter.com/allababkina" target="_blank"><img src="images/twitter.png" class="social"></a>
                    </p>
                </div>
                <div class="col-md-9">
                    <p class="about">
Alla is a software engineer with 5 years of experience as a lawyer in banking and corporate finance. From business experience she knows how well-engineered crafted software can take any business to a whole new level. As a software engineer she knows exactly what it takes to build this software. Knowing both sides of the story she eagerly shares her knowledge and vision at conferences and other events and dedicates much of her free time to gaining new knowledge of parts of the software development process from UI design to system architecture to delivery automation and how they work together.
                    </p>
                </div>
            </div> 
        </div>


        <div class="clients">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-12">
                    <h2 class="featurette-heading no-margin-bottom">
                        We turned our energy to make the following guys better
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img src="images/askfm.png" height="60px">
                </div>
                <div class="col-md-4">
                        <img src="images/4finance.png" height="70px">
                </div>                
                <div class="col-md-4">
                        <img src="images/swissre.png" height="70px">
                </div>                                                
            </div>


        </div>
    </div>

        <div class="darken">
            <div class="container get-in-touch">
                <div class="row featurette">
                    <div class="col-md-6">
                        <h3 class="featurette-heading">
                            Get in touch <img class="arrow" src="images/arrow.png" width="32px">
                        </h3>
                        <p>
                            <a href="mailto:hello@craftsmans.lv" target="_blank"><img class="icon" src="images/email-bw.png"></a> <a href="mailto:hello@craftsmans.lv">hello@craftsmans.lv</a>
                        </p>
                        <p>
                            <img class="icon" src="images/phone-bw.png"> +371 288 14 170
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/company/craftsman%27s-passion" target="_blank"><img class="icon" src="images/linkedin-bw.png"></a>
                        </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <img src="images/logo_bottom.png">
                    </div>
                </div>
            </div>

            </div>    
    </body>
</html>