<html>
    <head>
        <title>Craftsman's Passion</title>
    </head>
    <body>
        <div class="ad">
            <div class="container">
                <p>
                    Please join one of our monthly <a href="http://www.latcraft.lv">meetups</a> to stay in sync with IT world!
                </p>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <span class="navbar-toggle icon icon-hamburger-white" data-toggle="collapse" data-target="#collapse"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                    </div>
                    <div class="eight columns toggle-jump main-nav collapse navbar-collapse collapse" id="collapse">
                        <ul class="nav right">
                            <li><a ng-click="scroll(0)" class="gray">Home</a></li><li><a ng-click="scroll('.services')">Services</a></li><li><a ng-click="scroll('.get-in-touch')">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="six columns end">
                        <div class="header-content">
                            <h1 class="hello">
                                Hello.
                            </h1>
                            <p class="subheading">
                                We're <strong>Craftsman's Passion</strong>. We believe that your software has a chance to be amazing and it’s time to act. We're responding to mainstream software industry with a knocking dose of professionalism &amp; care.
                            </p>
                        </div><a class="btn btn-lg btn-success marketing" ng-click="scroll('.why')" role="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container why">
            <div class="row featurette">
                <div class="col-md-12">
                    <h1 class="featurette-heading">
                        Why Craftsman's Passion?
                    </h1>
                    <p class="lead">
                        We’re a group of professional software craftsmen that <strong>gets things done</strong>, no fluff. We don't have managers, analysts, testers nor simply coders. Our people are capable of building <strong>hotsy-notsy products</strong> from scratch. We’re open and transparent to you — when we see something that sucks, we’re telling you immediately. We value simplicity and spend time on making things simple. We do not cut corners even if someone wants us to — we stand behind our work that is of <strong>top-notch quality</strong>. In fact, we’re not for everyone. We’re for those who seek to be step ahead.
                    </p>
                </div>
            </div>
        </div>
        <div class="darken">
            <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/brain.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We train &amp; develop. <span class="text-muted">Learn from experts.</span>
                        </h3>
                        <p>
                            Skilled people, sterling team play and a disciplined approach to software delivery are the keys to building great systems. We assist in building performant teams by organising trainings touching both technology and progressive approaches to software development. Join one of our open trainings or let us organise <strong>exclusive event</strong> for your process.
                        </p>
                    </div>
                </div>
                <div class="trainings">

                </div>  


            </div>
           <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/macbook.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We build software. <span class="text-muted">Make your idea real.</span>
                        </h3>
                        <p>
                            Yes, we share the same feeling as you do — it's pity to see how nowaday's software development looks like. Remember weeks spent on writing specifications, unfulfilled expectations, delays, poor quality, huge development and maintenance costs, arguing with stubborn developers that don't get your ideas right. Step back, we can't fix mainstream because it's fundamentally broken. "Agile" doesnt't help much, as it's applied on top of the broken model. Such phenomenon reminds us putting lipstick on a pig. That's why we offer <strong>fresh and opinionated view on software development</strong>, leaving mainstream behind. We eliminate artificial walls between business &amp; product-oriented IT experts which leads to close and creative collaboration. In this way, your product gains the best from both worlds. Add transparency, excellent quality, short feedback cycles and some fun to the soup and you'll have the best software development journey ever.
                        </p>
                    </div>
                </div>
            </div>

            <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/rocket.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We bootstrap projects. <span class="text-muted">Drive the right way.</span>
                        </h3>
                        <p>
                            Chosen architecture, technological stack, methodologies and team determines sustainable evolution of your project. We prepare stable foundation you can continue building on top of — be it architecture, best practices or testing process. Besides bootstrapping new stuff, we’re ready to come for rescue when your existing software got derailed. We put it back on rails and eliminate the root cause of incident. Enjoy your trip!
                        </p>
                    </div>
                </div>
            </div>


            <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/umbrella.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We protect projects. <span class="text-muted">Drive safe.</span>
                        </h3>
                        <p>
                            Software development usually reminds the boiling frog story. We work side by side with you, watch your back and protect your project from getting boiled. It's our duty to reveal and prevent problems as early as possible and make sure your project is done in a timely, professional manner. It's like having an insurance. But unlike insurance that mitigate failures, we prevent them from happening.
                        </p>
                    </div>
                </div>
            </div>



            <div class="services container">
                <div class="row featurette">
                    <div class="col-md-2">
                        <img src="images/escalator.png" width="128px">
                    </div>
                    <div class="col-md-10">
                        <h3 class="featurette-heading">
                            We advise. <span class="text-muted">Achieve your goal.</span>
                        </h3>
                        <p>
                            Over the years of being part of great projects, as well as weak ones, we learned what makes the difference. We provide consultancy services to find the most effective way for achieving your goals. Together we can recognise what is the right thing to do and how to get it right.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    <div class="expertise">
            <div class="container">
            <div class="row featurette">
                <div class="col-md-12">
                    <h1 class="featurette-heading no-margin-bottom">
                        Expertise
                    </h1>
                </div>
            </div>                
                <div class="row featurette">
                    <div class="col-md-12">
                        <span class="tag label label-warning">Java</span> 
                        <span class="tag label label-info">Code &amp; Architecture Review</span> 
                        <span class="tag label label-danger">Web Apps</span> 
                        <span class="tag label label-danger">Mobile Apps</span> 
                        <span class="tag label label-danger">Enterprise Apps</span> 
                        <span class="tag label label-danger">Modular Platforms</span> 
                        <span class="tag label label-info">Hypermedia APIs</span> 
                        <span class="tag label label-primary">System Integration</span> 
                        <span class="tag label label-warning">Software Craftsmanship</span> 
                        <span class="tag label label-primary">Domain-Driven Design</span>                         
                        <span class="tag label label-primary">Domain-Specific Languages</span>                         
                        <span class="tag label label-info">Testing Automation</span> 
                        <span class="tag label label-info">Quality Control Automation</span> 
                        <span class="tag label label-danger">Configuration Management</span> 
                        <span class="tag label label-danger">Infrastructure Provisioning</span> 
                        <span class="tag label label-primary">IT Development</span> 
                        <span class="tag label label-primary">Product Development</span>
                        <span class="tag label label-primary">Project Leadership</span> 
                        <span class="tag label label-primary">Team Leadership</span> 
                        <span class="tag label label-warning">Agile Methodologies</span> 
                        <span class="tag label label-warning">Agile Coaching</span> 
                        <span class="tag label label-warning">Continuous Delivery</span> 
                        <span class="tag label label-warning">Executable Specifications</span> 
                        <span class="tag label label-warning">Scrum</span> 
                        <span class="tag label label-warning">Kanban</span> 
                    </div>
                </div>
            </div>
        </div>

        <div class="clients">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-12">
                    <h2 class="featurette-heading no-margin-bottom">
                        We turned our energy to make the following guys better
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img src="images/askfm.png" height="60px">
                </div>
                <div class="col-md-4">
                        <img src="images/4finance.png" height="70px">
                </div>                
                <div class="col-md-4">
                        <img src="images/swissre.png" height="70px">
                </div>                                                
            </div>


        </div>
    </div>

        <div class="darken">
            <div class="container get-in-touch">
                <div class="row featurette">
                    <div class="col-md-6">
                        <h3 class="featurette-heading">
                            Get in touch <img class="arrow" src="images/arrow.png" width="32px">
                        </h3>
                        <p>
                            <a href="mailto:hello@craftsmans.lv" target="_blank"><img class="icon" src="images/email-bw.png"></a> <a href="mailto:hello@craftsmans.lv">hello@craftsmans.lv</a>
                        </p>
                        <p>
                            <img class="icon" src="images/phone-bw.png"> +371 288 14 170
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/company/craftsman%27s-passion" target="_blank"><img class="icon" src="images/linkedin-bw.png"></a>
                        </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <img src="images/logo_bottom.png">
                    </div>
                </div>
            </div>

            </div>    
    </body>
</html>